<div class="h-screen w-screen bg-blue-100">
  <div
    class="h-[200px] w-full bg-blue-500 shadow-xl text-center p-5 bg-[url('https://source.unsplash.com/Dxi6KbpvUgA/300X300')] bg-cover bg-center"
  >
    <h1 class="text-4xl text-white mb-8 mt-8">Search the Quran!</h1>
    <div class="flex-row">
      <input
        class="mr-3 rounded-md w-[350px] border-gray-300 shadow-sm focus:border-gray-50 focus:ring focus:ring-gray-50 focus:ring-opacity-50 text-gray-600"
        type="text"
        placeholder="Enter your keywords here"
        [(ngModel)]="keywords"
        (keydown.enter)="search()"
      />
      <button
        (click)="search()"
        class="bg-blue-800 text-white font-semibold py-2 px-4 border border-blue-800 rounded-md hover:text-gray-200 shadow"
      >
        Search
      </button>
    </div>
  </div>
  <div class="text-center m-5" *ngIf="loading">
    <span class="material-icons animate-spin text-4xl"> refresh </span>
  </div>

  <div *ngIf="results" class="results">
    <div class="p-5 rounded-2xl m-5 bg-blue-400 shadow-xl font-semibold">
      Found {{ results.count }} ayats matching your keyword
    </div>
    <div
      *ngFor="let match of results.matches"
      class="p-5 rounded-2xl m-5 bg-blue-200 shadow-xl"
    >
      <p class="text-base text-gray-700">{{ match.text }}</p>
      <p class="text-base font-semibold">
        {{ match.surah?.englishName }} ({{
          match.surah?.englishNameTranslation
        }}) - Ayah {{ match.numberInSurah }}
      </p>
    </div>
  </div>
</div>
